<section class="homepage-cta" aria-label="Priority actions">
  <a class="homepage-cta__item topic-organization" href="{{ '/pc-self-nominations/' | relative_url }}">
    <span class="homepage-cta__icon" aria-hidden="true">
      <i class="fa-solid fa-user-plus"></i>
    </span>
    <span class="homepage-cta__content">
      <span class="homepage-cta__title">PC Self-Nominations</span>
      <span class="homepage-cta__note">
        Nomination deadline
        <span class="homepage-cta__date">October 10, 2026</span>
      </span>
    </span>
  </a>
  <a class="homepage-cta__item topic-authors" href="{{ '/cfp/' | relative_url }}">
    <span class="homepage-cta__icon" aria-hidden="true">
      <i class="fa-solid fa-file-lines"></i>
    </span>
    <span class="homepage-cta__content">
      <span class="homepage-cta__title">Call for Papers</span>
      <span class="homepage-cta__note">
        Submission deadline
        <span class="homepage-cta__date">20 January 2027</span>
      </span>
    </span>
  </a>
  <a class="homepage-cta__item topic-attend" href="{{ '/registration/' | relative_url }}">
    <span class="homepage-cta__icon" aria-hidden="true">
      <i class="fa-solid fa-ticket"></i>
    </span>
    <span class="homepage-cta__content">
      <span class="homepage-cta__title">Registration</span>
      <span class="homepage-cta__note">
        Early registration deadline
        <span class="homepage-cta__date">18 May 2027</span>
      </span>
    </span>
  </a>
</section>
